<<<<<<< HEAD
/*
 * === Global style ===
 */

/* Global style */
body{
=======
body {
>>>>>>> fa35fa4d506a850808a3e11a3c43c384b95f2deb
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
